{
  "openapi": "3.0.3",
  "info": {
    "title": "XGuard Web Extractor API",
    "version": "1.0.0",
    "description": "Convert a public web page into clean Markdown, text, metadata, and normalized links for AI agents and RAG pipelines."
  },
  "servers": [
    { "url": "https://extract.xguardgate.com" }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "operationId": "health",
        "summary": "Service health",
        "responses": {
          "200": { "description": "Healthy" }
        }
      }
    },
    "/v1/extract": {
      "post": {
        "operationId": "extractPage",
        "summary": "Extract one public web page",
        "description": "Billing and consumer authentication are managed by RapidAPI. The provider origin supports X-RapidAPI-Proxy-Secret enforcement once the marketplace proxy secret is configured.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["url"],
                "properties": {
                  "url": { "type": "string", "format": "uri", "maxLength": 4096, "example": "https://example.com" },
                  "includeLinks": { "type": "boolean", "default": true },
                  "maxContentChars": { "type": "integer", "minimum": 1000, "maximum": 1000000, "default": 200000 }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Successful extraction" },
          "400": { "description": "Invalid URL or request" },
          "401": { "description": "RapidAPI proxy secret mismatch" },
          "422": { "description": "Upstream fetch or extraction failed" }
        }
      }
    }
  }
}
