openapi: 3.1.0
info:
  title: XGuard Web Extractor API
  version: 1.0.0
  description: Convert a public web page into clean Markdown, text, metadata, and normalized links for AI agents and RAG pipelines.
servers:
  - url: https://extract.xguardgate.com
paths:
  /healthz:
    get:
      operationId: health
      summary: Service health
      responses:
        '200':
          description: Healthy
          content:
            application/json:
              schema:
                type: object
                required: [ok, service, live]
                properties:
                  ok: { type: boolean }
                  service: { type: string }
                  live: { type: boolean }
  /v1/extract:
    post:
      operationId: extractPage
      summary: Extract one public web page
      description: Billing and consumer authentication are managed by RapidAPI. The provider origin supports X-RapidAPI-Proxy-Secret enforcement once the marketplace secret is configured.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url:
                  type: string
                  format: uri
                  maxLength: 4096
                  example: https://example.com
                includeLinks:
                  type: boolean
                  default: true
                maxContentChars:
                  type: integer
                  minimum: 1000
                  maximum: 1000000
                  default: 200000
      responses:
        '200':
          description: Successful extraction
          content:
            application/json:
              schema:
                type: object
                required: [url, statusCode, markdown, text, product]
                properties:
                  url: { type: string }
                  statusCode: { type: integer }
                  contentType: { type: string }
                  title: { type: string }
                  description: { type: string }
                  lang: { type: [string, 'null'] }
                  canonical: { type: [string, 'null'] }
                  markdown: { type: string }
                  text: { type: string }
                  links: { type: array, items: { type: object } }
                  contentLength: { type: integer }
                  extractedAt: { type: string, format: date-time }
                  product: { type: string, const: XGuard Web Extractor }
        '400': { description: Invalid URL or request }
        '401': { description: RapidAPI proxy secret mismatch }
        '422': { description: Upstream fetch or extraction failed }
