{
  "openapi": "3.0.3",
  "info": {
    "title": "XGuard Email Shield API",
    "version": "3.0.0",
    "description": "Automatic email risk verification for signups, checkout and forms. Self-service integration with a target usage price of $0.003 per check.",
    "x-long-description": "XGuard Email Shield checks practical email syntax, DNS mail routing, Null MX, disposable-domain risk, role-address risk and common provider typos before an address enters a signup, checkout or form workflow. Submitted email addresses are processed transiently and are not persisted. Mailbox-level deliverability is never claimed unless an explicit mailbox-verification upstream is enabled.",
    "x-category": "Data",
    "x-website": "https://xguardgate.com",
    "x-public": true
  },
  "servers": [
    { "url": "https://api.xguardgate.com" }
  ],
  "paths": {
    "/v1/verify": {
      "post": {
        "summary": "Verify one email",
        "description": "Checks syntax, DNS mail routing, Null MX, disposable-domain risk, role-address risk and common domain typos.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email"],
                "properties": { "email": { "type": "string", "format": "email" } }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Verification result" },
          "401": { "description": "Invalid API key" },
          "402": { "description": "Insufficient credits" }
        }
      }
    },
    "/v1/verify/batch": {
      "post": {
        "summary": "Verify up to 100 emails",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["emails"],
                "properties": {
                  "emails": { "type": "array", "minItems": 1, "maxItems": 100, "items": { "type": "string", "format": "email" } }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Batch verification results" } }
      }
    },
    "/v1/usage": {
      "get": {
        "summary": "Read API-key usage and remaining credits",
        "security": [{ "bearerAuth": [] }],
        "responses": { "200": { "description": "Usage" } }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer" }
    }
  }
}
