openapi: 3.1.0
info:
  title: XGuard Child Safety API
  version: 0.1.0
  description: >-
    Real-time child-safety classification and control decisions for integrated
    online products. The API returns ALLOW, WARN, BLUR, BLOCK, FREEZE_CHAT or
    ESCALATE actions for risks such as grooming, sexual solicitation,
    sextortion, explicit sexual content, sexualized advertising and repeated
    predatory contact. Clients are charged per analyzed safety event.
  license:
    name: Apache-2.0
servers:
  - url: https://xguardgate.com
    description: XGuard production Worker
tags:
  - name: Child Safety
  - name: Reporting
paths:
  /v1/child-safety/catalog:
    get:
      tags: [Child Safety]
      summary: Read supported safety-event kinds, actions and pricing
      responses:
        "200": { description: Child-safety product catalog }
  /v1/child-safety/reporting:
    get:
      tags: [Reporting]
      summary: Resolve child-help and exploitation-reporting routes by country
      parameters:
        - name: country
          in: query
          required: false
          schema: { type: string }
      responses:
        "200":
          description: >-
            Locally verified contact when available plus global official routing
            sources such as Child Helpline International, INHOPE and NCMEC
            CyberTipline.
  /v1/child-safety/scan:
    post:
      tags: [Child Safety]
      summary: Analyze one safety event and return an enforcement decision
      security:
        - merchantBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScanRequest"
      responses:
        "200":
          description: Safety classification and enforcement control
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScanResponse"
        "400": { description: Invalid event or content kind }
        "401": { description: Missing or invalid merchant API key }
        "402":
          { description: Merchant prepaid balance cannot cover the scan fee }
        "409": { description: Conflicting or released event id }
        "503":
          {
            description: Safety classification or billing dependency unavailable,
          }
components:
  securitySchemes:
    merchantBearer:
      type: http
      scheme: bearer
      bearerFormat: XGuard merchant API key
  schemas:
    ContentKind:
      type: string
      enum:
        - message
        - chat_window
        - ad_text
        - image_description
        - video_transcript
    ScanRequest:
      type: object
      additionalProperties: false
      required: [eventId, contentKind, text]
      properties:
        eventId:
          type: string
          minLength: 8
          maxLength: 160
          pattern: "^[A-Za-z0-9._:-]{8,160}$"
        riskSessionId:
          type: string
          minLength: 8
          maxLength: 160
          pattern: "^[A-Za-z0-9._:-]{8,160}$"
        contentKind:
          $ref: "#/components/schemas/ContentKind"
        language: { type: string, maxLength: 80 }
        childLikely: { type: boolean }
        childAgeBand: { type: string, maxLength: 40 }
        text: { type: string, maxLength: 20000 }
        signals:
          type: array
          maxItems: 20
          items: { type: string, maxLength: 120 }
    ScanResponse:
      type: object
      required:
        - eventId
        - contentKind
        - riskLevel
        - categories
        - primaryAction
        - enforcement
        - feeUsd
        - rawContentStored
      properties:
        eventId: { type: string }
        contentKind: { $ref: "#/components/schemas/ContentKind" }
        riskLevel:
          type: string
          enum: [LOW, MEDIUM, HIGH, CRITICAL]
        confidence:
          type: number
          minimum: 0
          maximum: 1
        categories:
          type: array
          items: { type: string }
        primaryAction:
          type: string
          enum: [ALLOW, WARN, BLUR, BLOCK, FREEZE_CHAT, ESCALATE]
        enforcement:
          type: object
          additionalProperties: { type: boolean }
        feeUsd: { type: string }
        rawContentStored: { const: false }
