openapi: 3.1.0
info:
  title: XGuard Mainnet API
  version: 0.4.0
  description: >-
    XGuard is an x402 v2 facilitator-compatible gateway and independent
    settlement-truth layer for Base mainnet native USDC. The canonical public
    x402 service fee is $0.03 (30,000 micro-USD) once per accepted authenticated
    economic attempt. That fee is earned before downstream execution after
    merchant authentication, supported-request parsing, logicalPaymentKey
    derivation, and successful prepaid-balance reservation. Downstream failure
    does not refund an accepted attempt; idempotent retries add no second fixed
    attempt fee. Settlement finality is a separate transfer-truth concern.
  license:
    name: Apache-2.0
servers:
  - url: https://xguardgate.com
    description: Production Base mainnet Worker
tags:
  - name: Discovery
  - name: Merchants
  - name: x402
  - name: Settlement Truth
paths:
  /.well-known/payment-manifest:
    get:
      tags: [Discovery]
      summary: Read the canonical XGuard payment contract
      responses:
        "200":
          description: Canonical onboarding, pricing, network, asset, and execution metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentManifest"
  /healthz:
    get:
      tags: [Discovery]
      summary: Check Worker liveness
      responses:
        "200": { description: Worker is alive }
  /readyz:
    get:
      tags: [Discovery]
      summary: Check production readiness
      responses:
        "200": { description: Mainnet route is ready }
        "503": { description: Required production dependency is not ready }
  /supported:
    get:
      tags: [Discovery]
      summary: Read authoritative live x402 capabilities
      responses:
        "200": { description: Live x402 capability response }
  /status:
    get:
      tags: [Discovery]
      summary: Read operational status
      responses:
        "200": { description: Current XGuard operational status }
  /v1/register:
    post:
      tags: [Merchants]
      summary: Register a merchant and issue a bearer API key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [name]
              properties:
                name: { type: string, minLength: 2, maxLength: 80 }
      responses:
        "201": { description: Merchant created; API key returned once }
        "400": { description: Invalid registration request }
        "429": { description: Rate limit exceeded }
  /v1/balance:
    get:
      tags: [Merchants]
      summary: Read the merchant prepaid XGuard service balance
      security: [{ bearerAuth: [] }]
      responses:
        "200": { description: Merchant service balance }
        "401": { description: Missing or invalid merchant API key }
  /v1/topups/intents:
    post:
      tags: [Merchants]
      summary: Create an exact Base USDC prepaid top-up intent
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [amountUsd]
              properties:
                amountUsd:
                  oneOf:
                    - type: string
                      pattern: "^[0-9]+(?:\\.[0-9]{1,6})?$"
                    - type: number
                      minimum: 0
      responses:
        "201": { description: One-time top-up intent created }
        "400": { description: Invalid top-up request }
        "401": { description: Missing or invalid merchant API key }
  /v1/topups/claim:
    post:
      tags: [Merchants]
      summary: Claim a matching finalized native Base USDC top-up
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [claimToken, transactionHash]
              properties:
                claimToken: { type: string, minLength: 1 }
                transactionHash:
                  type: string
                  pattern: "^0x[0-9a-fA-F]{64}$"
      responses:
        "200": { description: Top-up credited to prepaid service balance }
        "400": { description: Invalid or unverified top-up claim }
        "401": { description: Missing or invalid merchant API key }
  /verify:
    post:
      tags: [x402]
      summary: Execute protected x402 verification
      description: >-
        Accepts a supported authenticated economic x402 request. Once accepted,
        the fixed $0.03 attempt fee is earned before downstream verification.
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FacilitatorRequest"
      responses:
        "200":
          description: Verification result; an accepted attempt can carry XGuard attempt-fee headers
        "400": { description: Malformed or unsupported request rejected before accepted execution }
        "401": { description: Missing or invalid merchant API key }
        "402": { description: Prepaid XGuard service balance cannot cover the fixed attempt fee }
        "429": { description: Rate or concurrency limit exceeded }
        "503": { description: Protected execution dependency unavailable }
  /settle:
    post:
      tags: [x402]
      summary: Execute one guarded x402 settlement path
      description: >-
        Uses the same canonical logicalPaymentKey as verify, so verify to settle
        and retries do not earn a second fixed attempt fee. Settlement truth is
        tracked independently after outbound execution begins.
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FacilitatorRequest"
      responses:
        "200":
          description: Settlement response; independent truth can still be pending
          headers:
            X-XGuard-Attempt-Fee-USD:
              schema: { type: string, const: "0.03" }
            X-XGuard-Attempt-Fee-Micro-USD:
              schema: { type: string, const: "30000" }
            X-XGuard-Attempt-Fee-State:
              schema: { type: string, const: earned }
            X-XGuard-Attempt-Fee-Refundable:
              schema: { type: string, const: "false" }
            X-XGuard-Attempt-Key:
              schema: { type: string }
        "400": { description: Malformed or unsupported request rejected before accepted execution }
        "401": { description: Missing or invalid merchant API key }
        "402": { description: Prepaid XGuard service balance cannot cover the fixed attempt fee }
        "409": { description: Conflicting, duplicate, or in-progress settlement state }
        "429": { description: Rate or concurrency limit exceeded }
        "503": { description: Route unavailable or settlement outcome uncertain }
  /v1/settlements/{logicalPaymentKey}/truth:
    get:
      tags: [Settlement Truth]
      summary: Read independent Base USDC settlement truth
      description: >-
        Reports transfer truth separately from the already-decided accepted-attempt
        billing event.
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: "#/components/parameters/LogicalPaymentKey"
      responses:
        "200": { description: Terminal or conflicting settlement truth }
        "202": { description: Independent evidence remains pending }
        "401": { description: Missing or invalid merchant API key }
        "404": { description: No merchant-owned settlement truth record }
        "503": { description: Settlement truth storage or resolver unavailable }
  /v1/settlements/{logicalPaymentKey}/resolve:
    post:
      tags: [Settlement Truth]
      summary: Re-evaluate settlement truth without blind resubmission
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: "#/components/parameters/LogicalPaymentKey"
      responses:
        "200": { description: Resolution reached a terminal/conflicting truth state }
        "202": { description: Final evidence is still pending }
        "401": { description: Missing or invalid merchant API key }
        "404": { description: No merchant-owned settlement truth record }
        "503": { description: Settlement truth resolver unavailable }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: XGuard merchant API key
  parameters:
    LogicalPaymentKey:
      name: logicalPaymentKey
      in: path
      required: true
      description: Canonical XGuard logical payment identity
      schema:
        type: string
        pattern: "^[0-9a-fA-F]{64}$"
  schemas:
    PaymentManifest:
      type: object
      required: [manifest, name, mode, network, asset, pricing, onboarding, execution]
      properties:
        manifest: { const: xguard-payment-manifest-v1 }
        name: { const: XGuard }
        mode: { const: production }
        network: { const: "eip155:8453" }
        asset:
          type: object
          required: [symbol, contract]
          properties:
            symbol: { const: USDC }
            contract: { const: "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913" }
            treasury: { type: string }
        pricing:
          type: object
          required: [amountUsd, amountMicroUsd, event, billing, model, refundableAfterAcceptance]
          properties:
            amountUsd: { const: "0.03" }
            amountMicroUsd: { const: 30000 }
            event: { const: accepted_authenticated_economic_attempt }
            billing: { const: merchant_prepaid_service_balance }
            model: { const: merchant_prepaid_nonrefundable_attempt_fee }
            refundableAfterAcceptance: { const: false }
            dedupe: { type: string }
        onboarding: { type: object, additionalProperties: true }
        execution: { type: object, additionalProperties: true }
        agentInterfaces: { type: object, additionalProperties: true }
    FacilitatorRequest:
      type: object
      required: [x402Version, paymentPayload, paymentRequirements]
      properties:
        x402Version: { const: 2 }
        paymentPayload: { type: object, additionalProperties: true }
        paymentRequirements: { type: object, additionalProperties: true }
      additionalProperties: true
