openapi: 3.1.0
info:
  title: XGuard Mainnet API
  version: 0.3.0-zero-friction
  description: >-
    XGuard is an x402 v2 facilitator-compatible settlement safety and truth layer
    for Base mainnet native USDC. The recommended seller flow is one signed
    merchant-wallet activation followed by keyless /verify and /settle. XGuard
    earns a disclosed capped revenue share only after independent finality proves
    a successful settlement.
  license:
    name: Apache-2.0
servers:
  - url: https://xguardgate.com
    description: Production Base mainnet gateway
tags:
  - name: Operations
  - name: Activation
  - name: x402
  - name: Settlement Truth
  - name: Billing
  - name: Legacy
paths:
  /:
    get:
      tags: [Operations]
      summary: Discover production service, pricing and endpoints
      responses:
        "200":
          description: Public service metadata
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /healthz:
    get:
      tags: [Operations]
      summary: Worker liveness
      responses:
        "200":
          description: Worker is alive
          content:
            application/json:
              schema:
                type: object
                required: [status, mode, network]
                properties:
                  status: { const: ok }
                  mode: { const: mainnet }
                  network: { const: "eip155:8453" }
  /readyz:
    get:
      tags: [Operations]
      summary: Database and downstream readiness
      responses:
        "200": { description: Ready }
        "503": { description: Not ready }
  /supported:
    get:
      tags: [x402]
      summary: Return measured x402 v2 capabilities
      responses:
        "200":
          description: Facilitator capability response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /status:
    get:
      tags: [Operations]
      summary: Return gateway, route, finality and accounting status
      responses:
        "200":
          description: Status
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /start:
    get:
      tags: [Activation]
      summary: One-page merchant wallet activation
      description: >-
        Connect the merchant payTo wallet and sign the exact pricing terms once.
        No account, email, password, API key, subscription or prepayment is
        created by this flow.
      responses:
        "200":
          description: HTML activation page
          content:
            text/html:
              schema: { type: string }
  /v1/activate/challenge:
    post:
      tags: [Activation]
      summary: Create a short-lived signed-terms activation challenge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [payTo]
              properties:
                payTo:
                  type: string
                  pattern: "^0x[0-9a-fA-F]{40}$"
      responses:
        "200":
          description: Challenge with exact message and pricing terms
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivationChallenge"
        "400": { description: Invalid merchant address or pricing configuration }
        "429": { description: Rate limited }
        "503": { description: Protection layer unavailable }
  /v1/activate:
    post:
      tags: [Activation]
      summary: Activate a merchant payTo with one wallet signature
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [payTo, nonce, signature]
              properties:
                payTo:
                  type: string
                  pattern: "^0x[0-9a-fA-F]{40}$"
                nonce:
                  type: string
                  pattern: "^0x[0-9a-fA-F]{64}$"
                signature:
                  type: string
                  pattern: "^0x[0-9a-fA-F]+$"
      responses:
        "200":
          description: Merchant activated for keyless x402 execution
          content:
            application/json:
              schema:
                type: object
                required: [activated, payTo, facilitatorUrl, pricing]
                properties:
                  activated: { const: true }
                  payTo: { type: string }
                  facilitatorUrl: { const: "https://xguardgate.com" }
                  pricing: { $ref: "#/components/schemas/PricingTerms" }
        "400": { description: Invalid, missing or expired challenge }
        "401": { description: Signature does not verify for payTo }
        "409": { description: Challenge already consumed or raced }
        "429": { description: Rate limited }
  /v1/activate/status:
    get:
      tags: [Activation]
      summary: Check whether a merchant payTo is activated
      parameters:
        - name: payTo
          in: query
          required: true
          schema:
            type: string
            pattern: "^0x[0-9a-fA-F]{40}$"
      responses:
        "200":
          description: Activation status
          content:
            application/json:
              schema:
                type: object
                required: [activated, payTo]
                properties:
                  activated: { type: boolean }
                  payTo: { type: string }
                  pricing: { $ref: "#/components/schemas/PricingTerms" }
  /verify:
    post:
      tags: [x402]
      summary: Verify x402 without submitting value
      description: >-
        The paymentRequirements.payTo address must have completed the one-time
        wallet activation. No XGuard Authorization header or prepaid balance is
        required after activation. Verification does not earn an XGuard fee.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FacilitatorRequest"
      responses:
        "200":
          description: Verification result
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400": { description: Malformed or unsupported payment request }
        "403": { description: Merchant payTo has not completed activation }
        "413": { description: Request exceeded the hard body limit }
        "415": { description: Content-Type must be application/json }
        "429": { description: Rate or concurrency limited }
        "503": { description: No safe fresh downstream route }
  /settle:
    post:
      tags: [x402]
      summary: Submit one protected x402 settlement route
      description: >-
        No XGuard Authorization header or prepaid balance is required after the
        merchant payTo is activated. XGuard does not silently change the buyer-
        authorized recipient or amount. A service receivable is calculated from
        the merchant's signed terms only after independent Base finality proves
        success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FacilitatorRequest"
      responses:
        "200":
          description: Settlement result
          headers:
            X-XGuard-Auth:
              schema: { type: string, const: none-after-one-time-wallet-activation }
            X-XGuard-Billing:
              schema: { type: string, const: postpaid-capped-revenue-share }
            X-XGuard-Pricing-Version:
              schema: { type: string }
            X-XGuard-Fee-Bps:
              schema: { type: string }
            X-XGuard-Fee-Cap-USD:
              schema: { type: string }
            X-XGuard-Replayed:
              schema: { type: boolean }
            X-XGuard-Payment-Key:
              schema:
                type: string
                pattern: "^[0-9a-f]{64}$"
            X-XGuard-Truth-State:
              schema: { enum: [FINALIZED, PENDING, PROVEN_FAILED, CONFLICT] }
            X-XGuard-Release-Safe:
              schema: { type: boolean }
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400": { description: Malformed or unsupported payment request }
        "402": { description: Signed postpaid service limit reached }
        "403": { description: Merchant payTo has not completed activation }
        "409": { description: Conflicting binding or settlement already in progress }
        "413": { description: Request exceeded the hard body limit }
        "415": { description: Content-Type must be application/json }
        "429": { description: Rate or concurrency limited }
        "503": { description: Unavailable route or ambiguous post-submit outcome }
  /v1/settlements/{logicalPaymentKey}/truth:
    get:
      tags: [Settlement Truth]
      summary: Read independent truth for a zero-friction settlement
      parameters:
        - $ref: "#/components/parameters/LogicalPaymentKey"
      responses:
        "200":
          description: Terminal/conflict settlement truth
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "202":
          description: Independent evidence remains pending
          headers:
            Retry-After:
              schema: { type: integer, const: 5 }
        "404": { description: No matching XGuard settlement record }
        "503": { description: Truth storage/resolution unavailable }
  /v1/settlements/{logicalPaymentKey}/resolve:
    post:
      tags: [Settlement Truth]
      summary: Run immediate independent finality/recovery resolution
      description: Never blindly resubmits the payment authorization.
      parameters:
        - $ref: "#/components/parameters/LogicalPaymentKey"
      responses:
        "200": { description: Terminal/conflict truth reached }
        "202": { description: Evidence remains pending }
        "404": { description: No matching XGuard settlement record }
        "503": { description: Resolver unavailable }
  /v1/fees:
    get:
      tags: [Billing]
      summary: Read signed pricing and postpaid XGuard service balance
      parameters:
        - name: payTo
          in: query
          required: true
          schema:
            type: string
            pattern: "^0x[0-9a-fA-F]{40}$"
      responses:
        "200":
          description: Fee balance and signed terms
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "403": { description: payTo is not activated }
  /v1/fees/claim:
    post:
      tags: [Billing]
      summary: Credit a finalized Base USDC XGuard service-fee payment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [payTo, transactionHash]
              properties:
                payTo:
                  type: string
                  pattern: "^0x[0-9a-fA-F]{40}$"
                transactionHash:
                  type: string
                  pattern: "^0x[0-9a-fA-F]{64}$"
      responses:
        "200": { description: Finalized treasury transfer credited }
        "400": { description: Invalid/unfinalized transaction }
        "403": { description: payTo is not activated }
        "409": { description: Transfer cannot be credited }
  /v1/register:
    post:
      tags: [Legacy]
      deprecated: true
      summary: Legacy API-key merchant registration
      description: Not required for the recommended x402 seller path.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [name]
              properties:
                name: { type: string, minLength: 2, maxLength: 80 }
      responses:
        "201": { description: Legacy merchant/API key created }
  /v1/topups/intents:
    post:
      tags: [Legacy]
      deprecated: true
      summary: Legacy prepaid top-up intent
      description: Not required for the recommended x402 seller path.
      security: [{ bearerAuth: [] }]
      responses:
        "201": { description: Legacy top-up intent created }
        "401": { description: Invalid legacy API key }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Legacy XGuard merchant API key
  parameters:
    LogicalPaymentKey:
      name: logicalPaymentKey
      in: path
      required: true
      schema:
        type: string
        pattern: "^[0-9a-fA-F]{64}$"
  schemas:
    PricingTerms:
      type: object
      required:
        - version
        - feeBps
        - feePercent
        - feeCapMicroUsd
        - feeCapUsd
        - postpaidLimitMicroUsd
        - postpaidLimitUsd
      properties:
        version: { type: string }
        feeBps: { type: integer, minimum: 0, maximum: 10000 }
        feePercent: { type: string }
        feeCapMicroUsd: { type: integer, minimum: 0 }
        feeCapUsd: { type: string }
        postpaidLimitMicroUsd: { type: integer, minimum: 1 }
        postpaidLimitUsd: { type: string }
    ActivationChallenge:
      allOf:
        - $ref: "#/components/schemas/PricingTerms"
        - type: object
          required: [payTo, nonce, message, expiresAt]
          properties:
            payTo:
              type: string
              pattern: "^0x[0-9a-fA-F]{40}$"
            nonce:
              type: string
              pattern: "^0x[0-9a-fA-F]{64}$"
            message: { type: string }
            expiresAt: { type: string, format: date-time }
    FacilitatorRequest:
      type: object
      additionalProperties: false
      required: [x402Version, paymentPayload, paymentRequirements]
      properties:
        x402Version: { const: 2 }
        paymentPayload:
          type: object
          additionalProperties: true
        paymentRequirements:
          type: object
          additionalProperties: true
          required: [scheme, network, asset, amount, payTo]
          properties:
            scheme: { const: exact }
            network: { const: "eip155:8453" }
            asset:
              const: "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"
            amount: { type: string }
            payTo:
              type: string
              pattern: "^0x[0-9a-fA-F]{40}$"
